@model ProductosModel

@{
    ViewData["Title"] = "HacerCompra";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<main id="main" class="main">
    <h1>Realizar compra</h1>
    <br />
    <form method="post" class="form-floating" asp-controller="Productos" asp-action="ComprarProductos">
        <div style="width:40%; float: left">
            <div class="form-group">
                <label asp-for="CantidadArticulos">Cantidad a comprar</label>
                <input required class="form-control" asp-for=CantidadArticulos />
                <span asp-validation-for="CantidadArticulos" class="text-danger"> </span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DireccionEnvio">Dirección de envío</label>
                <input required class="form-control" asp-for=DireccionEnvio />
                <span asp-validation-for="DireccionEnvio" class="text-danger"> </span>
            </div>
            <br />
            <!-- div class="form-group">
                <label asp-for="FormaPago"></label>
                <input class="form-control" asp-for=FormaPago />
            </div-->

            <div class="form-group">
                <label>Forma de Pago</label>
                <select class="custom-select d-block w-100" id="FormaPago" required asp-for=FormaPago>
                    <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                    <option value="Tarjeta de débito">Tarjeta de débito</option>
                    <!--option value="PayPal">PayPal</!--option-->
                    <span asp-validation-for="FormaPago" class="text-danger"> </span>
                </select>
            </div>
            <br />

            <div class="form-group">
                <!--label asp-for="Id_empleado">ID del empleado</label-->
                <input hidden required class="form-control" asp-for=Id_empleado />
                <span asp-validation-for="Id_empleado" class="text-danger"> </span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Id_proveedor">ID del proveedor</label>
                <input required class="form-control" asp-for=Id_proveedor />
                <span asp-validation-for="Id_proveedor" class="text-danger"> </span>
            </div>
            <br />            <br />

            <div class="form-group">
                <label asp-for="NombreTarjeta" class="text-warning">NombreTarjeta</label>
                <input required class="form-control" asp-for=NombreTarjeta />
                <span asp-validation-for="NombreTarjeta" class="text-danger"> </span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Tarjeta" class="text-warning">Tarjeta</label>
                <input required class="form-control" asp-for=Tarjeta />
                <!--span asp-validation-for="Tarjeta" class="text-danger"> </span-->
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FechaTarjeta" class="text-warning">FechaTarjeta</label>
                <input required class="form-control" asp-for=FechaTarjeta />
                <span asp-validation-for="FechaTarjeta" class="text-danger"> </span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CVVTarjeta" class="text-warning">CVVTarjeta</label>
                <input required class="form-control" asp-for=CVVTarjeta />
                <span asp-validation-for="CVVTarjeta" class="text-danger"> </span>
            </div>
        </div>



        <div style="width:30%; float: right; margin-right: 15%">
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <small class="text-muted" style="text-align:center">Información del producto</small>
            </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <small class="text-muted">
                            Id: <input readonly class="form-control" asp-for=Id_producto />
                        </small>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                        <small class="text-muted">
                            Nombre: <input readonly class="form-control" asp-for=Nombre />
                        </small>
                </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                        <small class="text-muted">
                            Precio de compra por unidad: <input readonly class="form-control" asp-for=PrecioCompra />
                        </small>
                </div>
                </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                    <h6 class="my-0">Envío</h6>
                </div>
                <span class="text-success">GRATIS</span>
            </li>
                <!--li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <small class="text-muted">
                            Total: <input readonly class="form-control" asp-for=TotalCompra />
                        </small>
                    </div>
                </li-->
        </ul>
            <div class="text-center panel-body">
                <button type="submit" class="btn btn-sm btn-primary">Confirmar Compra</button>
            </div>
        </div>

        <div style="clear:both">
            <br />
        </div>
    </form>
</main>