
@{
    ViewData["Title"] = "HacerCompra";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<main id="main" class="main">
    <br />
    <h2>Nueva Compra</h2>
    <button type="button" class="btn btn-primary" style="position:absolute; margin-left:800px;">Cancelar</button>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Descripción</th>
                <th>En Stock</th>
                <th>En Inventario</th>
                <th>Peso (kg)</th>
                <th>Precio (mx)</th>
                <th>Descuento</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Croqueta Ganador Adulto</td>
                <td>Ganador</td>
                <td>Hechas con proteinas de la más alta calidad....</td>
                <td>36</td>
                <td>42</td>
                <td>25</td>
                <td>915.00</td>
                <td>0.00</td>
                <td>Croquetas perros adultos</td>
            </tr>
        </tbody>
    </table>
    <br />
    <h5>
        ¿Comprar <input type="text" placeholder="0" /> unidades al Proveedor <select name="color" id="color">
            <option value="r">Purina</option>
            <option value="a">Aimentos Mascotas</option>
            <option value="v">Croquetas MX</option>
        </select> ?
    </h5>

    <table class="table">
        <tr>
            <td>Cantidad</td>
            <td>Precio</td>
            <td>Subtotal</td>
            <td>Envío</td>
            <td>TOTAL DE LA COMPRA</td>
        </tr>
        <tr>
            <td>56</td>
            <td>499.65</td>
            <td>27980.40</td>
            <td>1200.00</td>
            <td>29,180.4</td>
        </tr>
     </table>

    <button type="button" class="btn btn-primary" style="margin-left:600px;">Pagar</button>

</main>