<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Página no encontrada</title>
</head>
<body>
    <div class="container text-center flex-grow-1">
        <h1 class="display-1">Error 404</h1>
        <p class="lead">Lo sentimos, la página que estás buscando no se encuentra disponible.</p>
        <a href="#" class="btn btn-primary btn-lg"><i class="fas fa-home"></i> Regresar a la página principal</a>
    </div>
</body>
</html>
