
@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h1>Productos</h1>

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="#">
                <i class="bi bi-grid"></i>
                <span>Pedidos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">
                <i class="bi bi-grid"></i>
                <span>Productos</span>
            </a>
        </li>
    </ul>
</aside> 

<main id="main" class="main">
    <h2>Pedidos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Marca</th>
                <th>Cantidad disponible</th>
                <th></th> <!-- Columna para el botón -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Croqueta cachorro</td>
                <td>Pedigree</td>
                <td>10</td>
                <td>
                    <button type="button" class="btn btn-primary">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
</main>